.social_panel li,.main_panel li,{padding-bottom:2px;}
ul.info li {padding-bottom:4px;float:left;}
#skills ul li span {display:inline;}
#misc ul {width:340px;}
#contact_form textarea {height:56px;}
.confirmation {padding-bottom:3px;}
#backtoptop {padding-bottom:10px;background-position: right center;}