/*
 * 
 * Online CV Project
 * @author Marius Hogas
 * @email mhogas@gmail.com
 * 
 */
 
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #69D2E7;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position:top center;
	background-attachment:fixed;    /* delete this line if you don't want the blue background to be fixed */
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-weight:bold;
}
h1 { 
	font-size:60px;
	color:#fa6900;
	text-transform:uppercase;
	}
h2 { 
	font-size:34px;
	color:#fa6900;
	}
h3 { 
	font-size:30px;
	color:#f38630;
	text-transform:uppercase;
	}
h4 { 
	font-size:28px;
	color:#333;
	}
h5 { 
	font-size:22px;
	color:#333;
	font-weight:300;
	}

/* MAIN CONTAINER */
#container {
	background-color: #FFF; /*#e0e4cc;*/  /* COLOR OF CONTAINER */
	width: 930px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	min-height:500px;
	padding:20px 0 20px 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.separator {
	clear: both;
	background:url(../img/separator.gif) repeat-x left center;
	height:40px;
	width:900px;
}

#photo {
	float:left;
	background:url(../img/bg_photo_btm.png) no-repeat center bottom;
	padding-bottom:16px;
}
#photo img { border:5px solid white; }

#right_header {
	width:745px;
	float:right;
}

/* MAIN & SOCIAL ICONS PANELS */
.social_panel {
	float:right;
	background:#a7dbd8;
	padding:8px 30px 8px 8px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.social_panel li {
	float:left;
	margin-right:8px;
}
.main_panel {
	float:right;
	background:#a7dbd8;
	padding:8px;
	margin-right:20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.main_panel li {
	float:left;
	margin-right:8px;
}
.social_panel li.last,
.main_panel li.last {
	margin:0;
}

/* INFO LIST */

ul.info {
	clear:right;
	margin-top:20px;
}
ul.info li {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
	color:#333;
	font-weight:bold;
	display:inline-block;
	padding-left:25px;
	margin-top:7px;
}
ul.info li a {
	margin:0;
	text-decoration:none;
	color:#333;
}
ul.info li a:hover {
	text-decoration:none;
	color:#000;
}
	
ul.info li.phone {
	background:url(../img/cellphone.gif) no-repeat left center;
	width:200px;
}
ul.info li.info {
	background:url(../img/man.gif) no-repeat left center;
	width:465px;
}
ul.info li.email {
	background:url(../img/mail.gif) no-repeat left center;
	width:200px;
}
ul.info li.address {
	background:url(../img/home.gif) no-repeat left center;
	width:465px;
}
ul.info li.website {
	background:url(../img/pointer.gif) no-repeat left center;
	width:200px;
}
ul.info li.status_available {
	background:url(../img/check.gif) no-repeat left center;
	width:465px;
	color:#000;
}
ul.info li.status_notavailable {
	background:url(../img/bstop.gif) no-repeat left center;
	width:465px;
	color:#333;
}

/* SKILLS */
#skills ul {
	margin-top:10px;
}
#skills ul li {
	float:left;
	width:280px;
	background:url(../img/bull_01.png) no-repeat left center;
	padding-left:20px;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
	color:#333;
	font-weight:bold;
	margin-bottom:10px;
	padding-bottom:1px;
}

#skills ul li span {
	float:right;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:18px;
	color:#333;
	font-weight: 300;
	margin-right:30px;
	background:#ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:3px 5px;
}
#skills ul li.last span {
	margin-right:0px;
}
#skil2ls ul li span:hover {
	background:#a7dbd8;
}

/* WORK EXPERIENCE & EDUCATION */
#work_experience,
#education {
	width:435px;
	float:left;
}
#work_experience {
	margin-right:30px;
}
.item {
	padding:0px 10px;
	border-left:8px solid #a7dbd8;
	margin-top:10px;
	padding-right:0px;
}
.item h4 span {
	float:right;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
	color:#333;
	font-weight:600;
	margin-right:0px;
	background:#ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:3px 5px;
}
.item h4 span:hover {
	background:#f38630;
}
.item h5 {
	margin:5px 0;
}
.item p {
	font-size:1em;
	color:#333;
	line-height:1.4em;
	text-align:justify;
}


/* PORTFOLIO */

#portfolio li {
	width:281px;
	float:left;
}
#portfolio li.print {
	margin:0 28px;
}
#portfolio li h4 {
	color:#fa6900;
}
#portfolio li ul {
	margin:10px 0;
	
}
#portfolio li ul li {
	float:left;
	margin-right:13px;
	margin-bottom:13px;
	width:85px;
}
#portfolio li ul li.last {
	margin-right:0px;
}
#portfolio li ul li a {
	display:inline-block;
	border:3px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#portfolio li ul li a:hover {
	border:3px solid #000;
}

/* CONTACT FORM */
#contact_form {
	margin-right:30px;
	float:right;
	width:500px;
}
#contact_form label {
	float:left;
	width:60px;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
}
#contact_form label span {
	color:#f38630;
	font-size:18px;
}
#contact_form input.text_field {
	float:left;
	width:140px;
	background:#fff;
	border:1px solid #25A1D9;
	font-size:11px;
	color:#333;
	padding:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#contact_form input.text_field:focus {
	border:1px solid #13536F;
}
#contact_form textarea {
	width:258px;
	height:52px;
	background:#fff;
	border:1px solid #25A1D9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	padding:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#contact_form textarea:focus {
	border:1px solid #13536F;
}
#contact_form input#submit {
	border:1px solid #25A1D9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#fff;
	background:#1E83B1;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,160,217)), color-stop(0.93, rgb(19,83,111)));
	background:-moz-linear-gradient( center bottom, rgb(37,160,217) 0%, rgb(19,83,111) 93%);
	padding:4px;
	font-size:11px;
	cursor:pointer;
	float:right;
}
#contact_form input#submit:hover {
	border:1px solid #13536F;
}
#contact_form input#submit:focus {
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(19,83,111)), color-stop(0.93, rgb(37,160,217)));
	background:-moz-linear-gradient( center bottom, rgb(19,83,111) 0%, rgb(37,160,217) 93%);
}

#contact_form #contactme .error-input ,
#contact_form #contactme .error-both input,
#contact_form #contactme .error-same input { 
	border:1px solid #f38630;
	}
#contact_form #contactme .error-div {
	color:#333;
	font-size:11px;
	float:left;
	padding-top:4px;
	}
.confirmation {
	color:#333;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
	padding-top:10px;
	}

#contact_form #contactme .error-same, #contact_form #contactme .error-both { color:#f00; }

/* MISC INFO */
#misc ul {
	width:380px;
	padding-right:20px;
	margin-top:5px;
}
#misc ul li {
	padding-bottom:2px;
	border-bottom:1px solid #25A1D9;
	line-height:1.5em;
}

/* BACK TO TOP BUTTON */
#backtoptop {
	width:930px;
	margin:0px auto 40px auto;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
	color:#333;
	font-weight:600;
	text-decoration: none;
	display:block;
	text-align:right;
	background:url(../img/back_to_top_arr.png) no-repeat right center;
	padding-right:30px;
}
#backtoptop:hover {
	color:#000;
}